{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="message mb-3 alert alert-danger">{{ message }}</div>
        {% elif message.tags == 'warning' %}
            <div class="message mb-3 alert alert-warning">{{ message }}</div>
        {% elif message.tags == 'success' %}
            <div class="message mb-3 alert alert-success">{{ message }}</div>
        {% else %}
            <div class="message mb-3 alert alert-info">{{ message }}</div>
        {% endif %}
    {% endfor %}
{% endif %}