{% extends 'store/layout.html' %}


{% block title %}Register{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <a class="navbar-brand" href="{% url 'home' %}">Amazon</a>
          <li class="nav-item searchbar">
            <form action="{% url 'home' %}" method="GET">
              <select name="options" id="">
                <option value="">All</option>
                {% for el in categories %}
                <option value="{{el.id}}">{{el.name}}</option>
                {% endfor %}
              </select>
            <input type="search" class="nav-link nav-search" placeholder="search items ... " name="title">
            <button type="submit">search</button>
            </form>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'create' %}" >Create</a>
          </li>
          <ul class="register">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}" >Register</a>
              </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
          </ul>
                    
        </ul>
      </div>
    </div>
</nav>

<div class="container text-center">
<div class="row">
    <div class="col">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
    </div>
    
    <div class="col">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
    </div>

    <div class="col">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
    </div>

    <div class="col">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
    </div>


</div>

</div>

<footer>
    <div class="footer-content container">
        <ul class="footer__list">
            <li class="footer__list-item"><a href="">Amazon</a></li>
            <li class="footer__list-item"><a href="">About</a></li>
            <li class="footer__list-item"><a href="">Contact</a></li>
        </ul>
    </div>
</footer>

{% endblock %}